:root {
    font-size: 1em;
}

.container {
    width: 90%;
    margin: auto;
}

hr {
    margin-top: -10px;
}

input {
    margin-right: 16px;
    font-size: inherit
}

select {
    margin-right: 16px;
    font-size: inherit;
    padding: 2px;
}

button {
    background-color: #458FFF;
    padding: 10px;
    color: white;
    border: none;
    margin-right: 8px;
    font-size: inherit
}

.button-container {
    margin-top: 8px;
}

table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}
.row {
    width: 10%;
}
.initial-spacing {
    width: 5%;
}
.action {
    width: 5%;
    text-align: center;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px
}
table tr:nth-child(even) td {
    background-color: #C4C4C4;
}

.error-parent {
    width: 50%
}

.error {
    border: 1px solid;
	margin: 10px 0px;
	background-position: 10px center;
    padding: 10px 0px 10px 5px;
    background-color: #FFBABA;
    color: #D8000C;
}

div.centered-container {
    width: 90%;
    margin: auto;
    text-align: center;
}
select.count-select {
    width: 50%;
    font-size: 16px;
    margin: 32px 0px 16px 0px;
}

.counts > input {
    display: block;
    margin-bottom: 8px;
}

ul.count {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.count > li {
    max-width: 20%;
    padding: 8px 4px;
}

.count > li:nth-child(even) {
    background-color: #C4C4C4;
}

h3 {
    margin: 0;
    padding: 0;
}