.container {
    width: 90%;
    margin: auto;
}

hr {
    margin-top: -10px;
}

input {
    margin-right: 16px;
}

button {
    background-color: #458FFF;
    padding: 10px;
    color: white;
    border: none;
    margin-right: 8px;
}

.button-container {
    margin-top: 8px;
}

table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}
.row {
    width: 20%;
}
.initial-spacing {
    width: 5%;
}
.action {
    width: 5%;
}

th {
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px
}
table tr:nth-child(even) td {
    background-color: #C4C4C4;
}
