 ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00022e;
  }
  
  ul.header > li {
    float: left;
  }
  
  ul.header > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  ul.header > li a:hover {
    background-color: #458FFF;
    cursor: pointer;
  }